<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lynda: Form Validation</title>
    <link rel="stylesheet" href="css/simple-form.css">
    <script src="node_modules/angular/angular.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div class="page">
    <section
            class="card register"
            ng-app="formApp"
            ng-controller="RegistrationFormController as vm"
    >
        <form
                name="simpleForm"
                ng-submit="vm.register()"
        >
            <div class="textIntro">
                <h1>Form Validation</h1>
                <p>Please fill out the following form</p>
                <p ng-show="vm.message">{{ vm.message }}</p>
            </div>
            <fieldset>
                <input
                        type="text"
                        name="firstName"
                        placeholder="First Name"
                        ng-model="user.firstName"
                        ng-required="true"
                >
                <p class="error validation-error" ng-show="simpleForm.firstName.$invalid && simpleForm.firstName.$touched">You must fill out your first name.</p>

                <input
                        type="text"
                        name="lastName"
                        placeholder="Last Name"
                        ng-model="user.lastName"
                        ng-required="true"
                >
                <p class="error validation-error" ng-show="simpleForm.lastName.$invalid && simpleForm.lastName.$touched">You must fill out your last name.</p>

                <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        ng-model="user.email"
                >
                <p class="error validation-error" ng-show="simpleForm.email.$invalid && simpleForm.email.$touched">This must be valid email.</p>

                <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        ng-model="user.password"
                        ng-required="true"
                        ng-minlength="6"

                >
                <p class="error validation-error" ng-show="simpleForm.password.$invalid && simpleForm.password.$touched">Password must at least 6 characters</p>

            </fieldset>
            <button type="submit" class="btn">Submit</button>
        </form>
    </section>
</div>


</body>
</html>